body,html
{
    font-family: 'Press Start 2P', sans-serif;
    margin:0 auto;
    padding:0;
    color:#f0f0f0;
    background-color:#000;
    height:100%;
    width:100%;
}

.header
{
    float: left;
    width: 100%; 
    padding: 1em;
    background-image:url("8bitmountains002.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.footer
{
    text-align:center;
    font-size:smaller;
    text-transform:uppercase;
    margin:0 auto;
    width:100%;
    float:none;
    clear:both;
}

ul.topnav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    background-image: linear-gradient(cyan, blue);
}

ul.topnav li 
{
    float: left;
}

ul.topnav li a 
{
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) 
{
    background-color: #000;
    color:#fff;
}

ul.topnav li a.active 
{
    background-color: #1b5582;
}

ul.topnav li.right 
{
    float: right;
}
ul.topnav h1
{
    font-size:1em;
    display:inline;
    color:#fff;
    margin:0;
    padding:0;
}

* 
{
    box-sizing: border-box;
}

.box100
{
    float: left;
    width: 100%; 
    padding: 1em;
}
.box75
{
    float: left;
    width: 75%; 
    padding: 1em;
}
.box66
{
    float: left;
    width: 66%; 
    padding: 1em;
}
.box50
{
    float: left;
    width: 50%; /* two boxes */
    padding: 1em;
}
.box33
{
    float: left;
    width: 33.33%; /* three boxes  */
    padding: 1em;
}
.box25
{
    float: left;
    width: 25%; /* four boxes */
    padding: 1em;
}

.clearfix::after 
{
    content: "";
    clear: both;
    display: table;
}

/* buttons! first is the standard across all buttons */

.btnstd, .btngrn, .btnblue, .btnred, .btnyellow, .btnpurple
{
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

/* standard button */

.btnstd 
{
    color: #fff !important;
    background-color: #000;
    border:2px #fff solid;
}
.btnstd:hover 
{
    color: #000 !important;
    background-color: #fff;
}

/* Green button */

.btngrn 
{
    color: #fff !important;
    background-color: #00aa00;
    border:2px #fff solid;
}
.btngrn:hover 
{
    color: #00aa00 !important;
    background-color: #fff;
    border:2px #00aa00 solid;
}


/* Blue button */

.btnblue 
{
    color: #fff !important;
    background-color: #0000aa;
    border:2px #fff solid;
}
.btnblue:hover 
{
    color: #0000aa !important;
    background-color: #fff;
    border:2px #0000aa solid;
}


/* Red button */

.btnred 
{
    color: #fff !important;
    background-color: #aa0000;
    border:2px #fff solid;
}
.btnred:hover 
{
    color: #aa0000 !important;
    background-color: #fff;
    border:2px #aa0000 solid;
}

/* Yellow button */

.btnyellow 
{
    color: #000 !important;
    background-color: #ffff00;
    border:2px #fff solid;
}
.btnyellow:hover 
{
    color: #ffff00 !important;
    background-color: #000;
    border:2px #ffff00 solid;
}
/* Purple button */

.btnpurple 
{
    color: #fff !important;
    background-color: #800080;
    border:2px #fff solid;
}
.btnpurple:hover 
{
    color: #800080 !important;
    background-color: #fff;
    border:2px #800080 solid;
}


/* standard tags */

table 
{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #fff;
    margin-bottom:1em;
}
td, th 
{
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
td: first-child, th: first-child 
{
    border-left-width: 0;
}
thead 
{
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
td 
{
    background-color: transparent;
    border-bottom: 1px solid #cbcbcb;
}
th
{
    background-color: #blue;
    background-image: linear-gradient(cyan, blue);
    color:#fff;
}

/* form stuff */

label
{
    float: left; 
    width: 10em; 
    margin-right: 1em;
    line-height:1em;
}

input[type=text],textarea
{
    background-color:#000;
    color:#fff;
    border:2px #fff solid;
    font-size:1em;
    font-family: 'Press Start 2P', sans-serif;
    padding:.5em;
}
textarea
{
    width:100%;
}

input[type=submit]
{
    color: #fff !important;
    background-color: #000;
    border:2px #fff solid;
    font-family: 'Press Start 2P', sans-serif;
    padding: .5em 1em;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

input[type=submit]:hover
{
    color: #000 !important;
    background-color: #fff;
}


@media screen and (max-width: 600px)
{

    ul.topnav li.right,ul.topnav li 
    {
        float: none;
    }

    .box50,.box33,.box25,.box66,.box75,.box100
    {
        float: none;
        width: 100%; 
        clear:both;
        padding: .5em;
    }

}